<%- include('../partials/boilerplate') %>

<div class="formContainer">
  <form method="POST" action="/auth/login">
    <input name="username" type="text" placeholder="username" required />
    <input name="password" type="password" placeholder="password" required />
    <input type="submit" value="Log in!" />
  </form>
  <p><a href="/user/register">Sign Up</a></p>
</div>

<%- include('../partials/end') %>
