<%- include('../partials/boilerplate') %>

<div class="formContainer">
  <form method="POST" action="/user">
    <input name="username" type="text" placeholder="User Name" required />
    <input name="email" type="email" placeholder="Email" required />
    <input name="password" type="password" placeholder="Password" required />
    <input name="name" type="text" placeholder="Name" required />
    <input name="address" type="text" placeholder="Street Address" required />
    <input name="city" type="text" placeholder="City" required />
    <input
      name="state"
      type="text"
      placeholder="State"
      required
      maxlength="2"
    />
    <input
      name="zipCode"
      type="number"
      placeholder="Zip Code"
      required
      minlength="5"
      maxlength="5"
    />
    <input type="submit" value="Register!" />
  </form>
</div>

<%- include('../partials/end') %>
