<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What's For Dinner</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <body class="holy-grail">
    <header>
      <div class='titleLogo'>
        (What's For Dinner?)
        </div>
        <div class="navBar">
          <ul class='nav'>
          <% if (data.user != undefined) { %> <li class='home'>Welcome, <%=data.user.name%> | </li>  <% }; %>
            <li class='home'><a href="/">Home |</a></li>
            <li class='login'><a href="/auth/login">Login</a></li>
            <li class='logout'><a href="/auth/logout">Logout</a></li>
          </ul>
        </div>
    </header>
  
    <div class="holy-grail-body">
  
      <section class="holy-grail-content">
    