<%- include ('partials/boilerplate') %>


<div class='appContainer'>
    <div class="headingContainer">
      <div class='titleLogo'>
      (What's For Dinner?)
      </div>
      <div class="navBar">
        <ul class='nav'>
          <li class='home'><a href="/">HOME</a></li>
          <li class='login'><a href="/auth/login">LOGIN</a></li>
          <li class='logout'><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    
    
    
    <div id='mainContainer'>
      <p>Are you Hungry2?</p>
    </div>

</div>

<script src="/src/main.js"></script>
<script src="/src/sample.js"></script>

<%- include ('partials/end') %>