<%- include ('../partials/boilerplate') %>


<div id='appContainer'>
    <div id="headingContainer">
      <div>
      <h2>PROFILE</h1>
      </div>
      <div class="heading">
        <ul class='heading'>
          <li class='nav'><a href="/">Home</a></li>
          <p>PROFILE: </p>>
          <%=user.name%>
          <li class='nav'><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <div id='mainContainer'>
      <p>Are you Hungry?</p>
    </div>

</div>

<script src="/src/main.js"></script>
<script src="/src/sample.js"></script>

<%- include ('../partials/end') %>