@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'titleLogo';
  src: url('./Alltherollpersonaluse-DOJE0.otf'); /* IE9 Compat Modes */
  src: url('./Alltherollpersonaluse-DOJE0.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./Alltherollpersonaluse-DOJE0.otf') format('woff2'), /* Super Modern Browsers */
       url('./Alltherollpersonaluse-DOJE0.otf') format('woff'), /* Pretty Modern Browsers */
       url('./Alltherollpersonaluse-DOJE0.otf')  format('truetype'), /* Safari, Android, iOS */
       url('./Alltherollpersonaluse-DOJE0.otf') format('svg'); /* Legacy iOS */      
}


* {
				box-sizing: border-box;
			}
			html, body {
				margin: 0;
				padding: 0;
				font-family: 'Open Sans',sans-serif;
				font-size: 1.1em;
				text-align: center;
				color: #FFF;
			}
			.holy-grail header,
			.holy-grail footer,
			.hg-sidebar,
			.holy-grail-content {
				padding: 20px;
			}
			.holy-grail header,
			.holy-grail footer {
        background: #d66354;
        
			}
			.hg-sidebar {
				background: gray;
			}
			.holy-grail-content {
				color: rgb(0, 0, 0);
			}

			/**
			 * Flex things:
			 * — Mobile first
			 * — Responsive
			 */
			.holy-grail {
				min-height: 100vh;
			}
			.holy-grail,
			.holy-grail-body {
				display: flex;
				flex: 1 1 auto;
				flex-direction: column;
			}
			.holy-grail-content {
				flex: 1 1 auto;
			}

/* My mods begin here */

.holy-grail header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 4px black solid;
  padding: 5px;
}

.holy-grail .titleLogo{
  display: flex;
  font-family: 'titleLogo';
  font-size: 6vw;
  align-items: center;
  margin-left: 15px;
  text-shadow: 5px 3px 8px #a99999;
}

.holy-grail-content{
  display: flex;
  align-items: center;
}

 .appContainer {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 10px;
  width: 800px;
  min-height: 700px;
  margin: 10px auto;
}


.holy-grail .navBar{
  display: flex;
  font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex-direction: row;
  font-size: 1.5vw;
  font-weight: 900;
  margin-right: 15px;
  text-shadow: 5px 3px 8px #a99999;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-items: end;
  list-style: none;
  padding: 0px;
  justify-content: end;
  
}

.nav a {
  margin: 5px;
  text-decoration: none;
  color:inherit;
  transition:.5s ease;
  
}

/* LOGIN VIEW STYLES */
.loginContainer {
  display: flex;
  flex-direction: column;
  background-color: #d66354;
  border: 2px black solid;
  border-radius: 5px;
  width: 500px;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 4px 6px 6px 2px #b3aaaa;
}

.loginContainer input {
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 600;
  
}
/* REGISTER VIEW STYLES */
.registerContainer {
  display: flex;
  flex-direction: column;
  background-color: #d66354;
  border: 2px black solid;
  border-radius: 5px;
  width: 600px;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 4px 6px 6px 2px #b3aaaa;
}

.registerContainer input {
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 600;
}

.registerTop {
  display: flex;
  flex-direction: row ;
  width: 100%;
}

.registerFull {
  display: flex;
  flex-direction: column ;
  width: 100%;  
}

.registerBottom {
  display: flex;
  flex-direction: row ;
  width: 100%;  
}

.registerTop input{
  display: flex;
  flex-direction: row ;
  width: 50%;
}

.registerBottom input{
  display: flex;
  flex-direction: row ;
  width: 33.33%;
}

.registerContainer input[type="submit"]{
  width: 35%;
}

/* SIDEBAR 2 (RIGHT) STYLES*/
.yelpResultsContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: black;
  text-shadow: 5px 3px 8px #a99999;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 500px;
  border: 2px green solid;
}

.yelpResults {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  border: 2px black solid;
  height: 32%;
  margin: 5px 0;
  align-items: center;
  background-color: whitesmoke;
}
.yelpResultsName {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  border: 2px black solid;
  height: 32%;
  margin: 5px 0;
  align-items: center;
  background-color: whitesmoke;
  font-weight: 900;
  font-size: 1.4vw;
}

.yelpResults div {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  border: 2px red solid;
  height: 10%;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
  font-weight: 300;
  font-size: 1vw;
}

/* FOOTER STYLE */
.holy-grail footer{
  font-family: 'titleLogo';
    font-size: 2.0em;
    text-shadow: 5px 3px 8px #a99999;
    color: white;
    
}

/* RESPONSIVE / MOBILE STYLE */
@media (min-width: 968px) {
  .holy-grail-sidebar-1 {
    order: -1;
  }
  .holy-grail-body {
    flex-direction: row;
  }
  .hg-sidebar {
    flex: 0 0 240px;
  }
}